<html>
    <head>
        <title>College Recommendation System</title>
        <link href="logo4.png" rel="icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <link href="college.css" rel="stylesheet">
    <body>
        <div class="back">
            <div class="back-text">
                <p>COLLEGE<br> RECOMMENDATION SYSTEM</p>
            </div>
        </div>
        <div class="but">
            <a href="#Anna"><button >Anna University Affiliated colleges</button></a>
            <a href="#Deemed"><button >Deemed  Universities</button></a>
        </div>
        <div class="affilated">
            <p id="Anna">Anna University Affilated Colleges</p>
            <div class="row">
                <div class="col-sm-3">
                    <a href="https://ceg.annauniv.edu/"><img src="image2.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image" a="https://ceg.annauniv.edu/"></a>
                    <p>University of Guindy</p>
                  </div>
                  <div class="col-sm-3">
                    <a href="https://www.mitindia.edu/"><img src="a1.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"> </a>
                    <p>Madras Institute Of Technology</p>
                  </div>
                  <div class="col-sm-3"> 
                    <a href="https://www.citchennai.edu.in/"><img src="a2.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                    <p>Chennai Institute Of Technology</p>
                  </div>
                  <div class="col-sm-3">
                    <a href="https://www.cit.edu.in/"><img src="a3.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                    <p>Coimbature Institue Of Technology</p>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://www.aurcc.ac.in/"><img src="a4.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                    <p>Anna University Regional Campus - Coimbature</p>
                  </div>
                  <div class="col-sm-3">
                    <a href="https://www.psgtech.edu/"><img src="a5.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"> </a>
                    <p>PSG College Of Technology</p>
                  </div>
                  <div class="col-sm-3"> 
                    <a href="https://kct.ac.in/"><img src="a6.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                    <p>Kumaragu College Of Technology</p>
                  </div>
                  <div class="col-sm-3">
                    <a href="https://srec.ac.in/"><img src="a7.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                    <p>Sri Ramakrishna College Of Engineering</p>
                  </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                  <a href="https://www.loyolacollege.edu/"><img src="a8.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                  <p>Anna University Regional Campus - Coimbature</p>
                </div>
                <div class="col-sm-3">
                  <a href="https://www.ssn.edu.in/"><img src="a9.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"> </a>
                  <p>Sri Sivasubramaniya Nadar College Of Engineering</p>
                </div>
                <div class="col-sm-3"> 
                  <a href="https://www.tce.edu/"><img src="a10.jpeg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                  <p>Thiagarajar College Of Engineering</p>
                </div>
                <div class="col-sm-3">
                  <a href="https://www.kongu.ac.in/"><img src="a11.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                  <p>Kongu Engineering College</p>
                </div>
          </div>
        </div>

        <div class="quote">
          <p>"Work Hard in Silence, Let Success make the Noise"</p>
        </div>

        <div class="affilated">
          <p id="Deemed">Deemed Universities</p>
          <div class="row">
              <div class="col-sm-3">
                  <a href="https://vit.ac.in/"><img src="d1.jpeg" class="img-responsive" style="width:100%; height: 200px;" alt="Image" a="https://ceg.annauniv.edu/"></a>
                  <p>VIT - Vellore</p>
                </div>
                <div class="col-sm-3">
                  <a href="https://www.sathyabama.ac.in/"><img src="d2.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"> </a>
                  <p>Satyabhama Institute Of Science and Technology</p>
                </div>
                <div class="col-sm-3"> 
                  <a href="https://www.sret.edu.in/"><img src="d3.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                  <p>Sri Ramachandra Faculty Of Engineering and Technology</p>
                </div>
                <div class="col-sm-3">
                  <a href="https://www.drmgrdu.ac.in/"><img src="d4.jpeg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                  <p>Dr.MGR Educational and Research Intitute</p>
                </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
                <a href="https://vistas.ac.in/"><img src="d5.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image" a="https://ceg.annauniv.edu/"></a>
                <p>VElS Institute Of Science and Technology</p>
              </div>
              <div class="col-sm-3">
                <a href="https://hicet.ac.in/"><img src="d6.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"> </a>
                <p>Hindusthan Institute Of Science and Technology</p>
              </div>
              <div class="col-sm-3"> 
                <a href="https://www.amrita.edu/campus/coimbatore/"><img src="d7.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                <p>Amirta Vihswa Vidhyapeetham</p>
              </div>
              <div class="col-sm-3">
                <a href="https://src.sastra.edu/"><img src="d8.jpg" class="img-responsive" style="width:100%; height: 200px;" alt="Image"></a>
                <p>Srinivasa Ramanuja Centre, Sastra</p>
              </div>
        </div>
      </div>
      <footer class="container-fluid bg-dark text-center">
        <p>© 2024 College Recommendation System. All rights reserved. | Privacy Policy | Terms of Service | Contact Us</p>    
      </footer>
    </body>
</html>