<html>
    <head>
        <title>College Recommendation System</title>
        <link href="logo4.png" rel="icon">
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='info2.css') }}">
    <body>
        <div class="sidenav">
            <span>Personal Information</span><br>
            <span>Academic Information</span><br>
            <span>Calculate Cut-off</span><br>
            <span class="color">Eligibility</span><br>
            <span>College Recommendation</span>
        </div>
        <form class="form" action="/table" method="get">
            <h1 id="step-title" class="text-center">Eligibility</h1>
            <div class="progressbar">
                <div class="progress" id="progress" ></div>
                <div class="progress-step progress-step-active"></div>
                <div class="progress-step progress-step-active" ></div>
                <div class="progress-step progress-step-active" ></div>
                <div class="progress-step progress-step-active" ></div>
                <div class="progress-step" ></div>
            </div>
            <div class="form-step form-step-active">
                <div class="input-group">
                    <center><img src="{{ url_for('static', filename='eligible.jpeg') if cutoff >= 150 else url_for('static', filename='noteligible.jpeg') }}" alt="Eligibility Status"></center>
                </div>
                <div class="">
                    <input type="hidden" name="cutoff" value="{{ cutoff }}">
                    <input type="hidden" name="course" value="{{ course }}">
                    <a href="table.html"><button class="btn btn-next width-50 ml-auto" id="i">Check College</button></a>
                </div>
            </div>
        </form>
    </body>
</html>